@model DogViewModel


<div id="html">
    <h1>Create Page</h1>

    <div class="row">
        <div class="col-6">

            <div class="card">
                <div class="card-header">
                    <h5>Create a new Dog</h5>
                </div>
                <div class="card-body">
                    <form asp-controller="Hello" asp-action="CreateDog" method="post">
                        <div class="mb-3">
                            <label class="form-label">Dog Name</label>
                            <input asp-for="Name" type="textarea" class="form-control" />

                        </div>
                        <div class="mb-3">
                            <label class="form-label">Dog Age</label>
                            <input asp-for="Age" type="text" class="form-control" />
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Description</label>
                            <textarea asp-for="Description"></textarea>
                        </div>
                        <div class="mb-3">
                            <button class="btn btn-primary">Save</button>
                         

                        </div>

                    </form>
                      <div class="mb-3">

                        @*<button class="btn btn-primary" onclick="convert()">Take</button>*@

                        </div>

           
                   @* <h1>Screenshot:</h1>
                    <div id="output"></div>*@

                </div>
                <div class="card-footer">
                </div>
            </div>



        </div>
    </div>

</div>

<br />
<h1>Screenshot:</h1>

<img src='' alt='' id='img' />

@section Scripts
    {

    @*<script src="~/lib/tinymce/tinymce.js"></script>
    <script src="~/lib/tinymce/tinymce.min.js"></script>*@
  @*  <script src="~/lib/jquery/dist/jquery.js"></script>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="~/lib/jquery/dist/main.js"></script>
    <script src="~/lib/html2canvas/html2canvas.min.js"></script>*@

    <script type="text/javascript">

        const div = document.getElementById(".html");
        function takeshot() {
            //let div =
            //    document.getElementById('photo');

            // Use the html2canvas
            // function to take a screenshot
            // and append it
            // to the output div
            //html2canvas(div).then(
            //    function (canvas) {
            //        document
            //            .getElementById('output')
            //            .appendChild(canvas);
            //    })
        }

        //function captureAndDisplay() {
        //    $('body').html2canvas({
        //        onrendered: function (canvas) {
        //            var myImage = canvas.toDataURL("image/png");
        //            window.open(myImage);
        //        }
        //    });
        //}
        //});
        //window.onload = function () {

        //    alert("Hello");
        //       console.log("Hello");


        //    html2canvas(div).then(function (canvas) {
        //        result.appendChild(canvas);
        //        let cvs = document.querySelector("canvas");
        //        let dataURI = cvs.toDataURL("image/jpeg");
        //        window.open(myImage);
        //        //let downloadLink = document.querySelector(".result>a");
        //        //downloadLink.href = dataURI;
        //        //downloadLink.download = "div2canvasimage.jpg";
        //        console.log(dataURI);
        //    });

        //}




        function convert() {
            //html2canvas(div).then(function (canvas) {
            //    result.appendChild(canvas);
            //    let cvs = document.querySelector("canvas");
            //    let dataURI = cvs.toDataURL("image/jpeg");
            //    window.open(dataURI);
            //    //let downloadLink = document.querySelector(".result>a");
            //    //downloadLink.href = dataURI;
            //    //downloadLink.download = "div2canvasimage.jpg";
            //    console.log(dataURI);
            //});

            //html2canvas($('#html').get(0)).then(function (canvas) {
            //            result.appendChild(canvas);
            //            let cvs = document.querySelector("canvas");
            //    let dataURI = canvas.toDataURL("image/jpeg");
            //    window.open(dataURI);
            //    console.log(canvas);

            //});

        }

        html2canvas($('#html').get(0)).then(function (canvas) {
            var base64encodedstring = canvas.toDataURL("image/jpeg", 1);
            console.log(base64encodedstring);

            $('#img').attr('src', base64encodedstring);

            //var image = new Image();
            //image.src = "data:image/jpeg;base64," + base64encodedstring;

            //var w = window.open('about:blank');
            //w.document.write(image.outerHTML);
            //w.document.close();



            //window.open(base64encodedstring);


        });





    </script>
}